

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allResortsCombined">7 days forecast</a></li>

        <li><a href="/allResortsByCountry">All resorts forecast by coutry</a></li>

        
        <li><a href="/14dayForecastCombined">14 days forecast</a></li>

        <li><a href="/past14daysnow">past 14 day snowfall</a></li>

        <li><a href="/allHistory">All resorts History</a></li>


        <!-- <li><a href="/history">History Data</a></li> -->
        
    </ul>
</nav>